/* style.css */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.bunny.net/sora/files/sora-latin-300-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.bunny.net/sora/files/sora-latin-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.bunny.net/sora/files/sora-latin-700-normal.woff2) format('woff2');
}

body {
  margin: 15;
  overflow: hidden;
  font-family: 'Sora', sans-serif;
  background-color: #121212; /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white; /* Texto branco por padrão */
}

.chat-container {
  width: 100%;
  max-width: 500px;
  height: 80vh;
  background: #121212; /* Fundo escuro */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  word-wrap: break-word;
  font-size: 18px;
  
}

.bot {
  background: #ffffff;  /* Cor branca para a mensagem do bot */
  color: #000;  /* Texto preto */
  align-self: flex-start;  /* Alinhamento à esquerda */
}

.user {
  background: #25D366;  /* Caixa verde para a mensagem do usuário */
  color: white;  /* Texto branco */
  align-self: flex-end;  /* Alinhamento à direita */
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #333;
  background: #121212; /* Fundo escuro */
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #333; /* Fundo escuro para o campo de input */
  color: white; /* Texto branco no input */
  font-size: 18px;
}

button {
  background: #25D366;
  color: black;
  border: none;
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 15px;
  cursor: pointer;
}

buttonnew {
  background: #25D366;
  color: black;
  border: none;
  padding: 25px 200px;
  margin-left: 10px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center; 
  display: inline-block; 
  line-height: 1.5; 
}


button:hover {
  background: #1ebe5d;
}
